# ─── PostgreSQL ───────────────────────────────────────────
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=bankcore
POSTGRES_PASSWORD=bankcore_secret
POSTGRES_DB=bankcore
DATABASE_URL=postgresql://bankcore:bankcore_secret@localhost:5432/bankcore?schema=public

# ─── Redis ────────────────────────────────────────────────
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=bankcore_redis

# ─── Keycloak ─────────────────────────────────────────────
KEYCLOAK_PORT=8080
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=bankcore
KEYCLOAK_CLIENT_ID=bankcore-api
KEYCLOAK_CLIENT_SECRET=change-me-in-production

# ─── Kafka ────────────────────────────────────────────────
KAFKA_BROKER=localhost:9092
KAFKA_PORT=9092
KAFKA_GROUP_ID=bankcore-consumers
ZOOKEEPER_PORT=2181

# ─── RabbitMQ ─────────────────────────────────────────────
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672
RABBITMQ_USER=bankcore
RABBITMQ_PASSWORD=bankcore_rabbit
RABBITMQ_QUEUE=bankcore-notifications

# ─── Services ─────────────────────────────────────────────
NODE_ENV=development
API_GATEWAY_PORT=3000
IAM_SERVICE_PORT=3001
ACCOUNT_SERVICE_PORT=3002
TRANSACTION_SERVICE_PORT=3003
NOTIFICATION_SERVICE_PORT=3004

# ─── Next.js Web Portal ───────────────────────────────────
WEB_PORTAL_PORT=4200

# ─── Flowable BPMN ────────────────────────────────────────
FLOWABLE_PORT=8081
FLOWABLE_REST_CONTEXT_PATH=/flowable-rest

# ─── Go Rules ─────────────────────────────────────────────
GORULES_PORT=8181
GORULES_BASE_URL=http://localhost:8181

# ─── JWT ──────────────────────────────────────────────────
JWT_SECRET=bankcore-jwt-secret-change-in-production
JWT_EXPIRATION=3600
